<!DOCTYPE html>
<html lang = "en">

	<head>
		<meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
		<title><%= database %> DB</title>
 		<link rel="shortcut icon" href="public/assets/film.ico" type="image/x-icon">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
				integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body>
		<div class="row">
			<div class="col">
				<form method="post" action="/<%= table1 %>" align="center">
					<button type="submit" name="<%= table1 %>" class="btn btn-info"><%= table1[0].toUpperCase() + table1.slice(1) %></button>
				</form>
			</div>
			<div class="col">
				<form method="post" action="/<%= table2 %>" align="center">
					<button type="submit" name="<%= table2 %>" class="btn btn-info"><%= table2[0].toUpperCase() + table2.slice(1) %></button>
				</form>
			</div>
			<div class="col">
				<form method="post" action="/<%= table3 %>" align="center">
					<button type="submit" name="<%= table3 %>" class="btn btn-info"><%= table3[0].toUpperCase() + table3.slice(1) %></button>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<form method="post" action="/<%= table4 %>" align="center">
					<button type="submit" name="<%= table4 %>" class="btn btn-info"><%= table4Alt %></button>
				</form>
			</div>
			<div class="col">
				<div></div>
			</div>
			<div class="col">
				<div></div>
			</div>
		</div>
	</body>
